.main-heading{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #e7f5dc;
  background-color: #64ac8f;
  text-align: center;
  text-transform: capitalize;
}
.menu{
  font-size: 12px;
}
.container{
  font-size: 12px;
  color:#64ac8f;
  text-indent: 12px;
  text-align: justify;
}
.art-heading{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}